.main {
  max-width: 1200px;
  /* max-width: 1000px; */
  margin: auto;
  /* background-image: url("../images/cour_assises.JPG");
  background-size: 100% 300px;
  background-repeat: no-repeat; */
}

.align-end {
  display: flex;
  align-items: flex-end;
}

.container-home {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 80px 0;
}

.h1-second-size {
  font-size: 2.5em;
}

.main p {
  padding: 20px 0;
  line-height: 1.5;
}

.card {
  width: 250px;
  /* width: 20%; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  height: 180px;
  border-radius: 4px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.card-group {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

.container-img-text {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 80px;
}

.container-contact {
  display: flex;
  justify-content: space-between;
  margin: 0 0 46px 0;
}

.container-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  background-color: white;
  font-weight: bold;
  padding: 50px 60px;
  border-radius: 4px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

form input {
  width: 350px;
  height: 36px;
}

button {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 36px;
  padding: 20px 10px;
  background-color: #d81f2a;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #d81f2a;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.icon-small {
  font-size: 1.5em;
}
.icon-medium {
  font-size: 2.5em;
}

.icon-white > path {
  color: #f1f3f5;
}
.icon-red > path {
  color: #d81f2a;
}
.icon-brown > path {
  color: #483a3a;
}
.icon-brown-clear > path {
  color: #b08268;
}
.icon-grey > path {
  color: #484848;
}
